[core]
	editor = nano
	autocrlf = false
	excludesFile = ~/.gitignore_global
[pull]
	ff = only
[user]
	name = Tim Davis
	email = 7432943+thebearingedge@users.noreply.github.com
[init]
	defaultBranch = main
